    <%- include ('header') %>
    <h2>Fullstack Developer(remote)</h2>
    <div>
        <h3>Engineering team</h3>
        <ul>
            <li><a href="vaga">Fullstack Developer(remote)</a></li>
        </ul>
        <h3>Marketing team</h3>
        <ul>
            <li>Digital Marketing ( San Francisco )</li>
        </ul>
    </div>

</body>

</html>